body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calc {
    display: flex;
    border: solid black 5px;
    width: 400px;
    height: 600px;
    flex-direction: column-reverse;
}

.calc > div {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.calc > div > * {
    flex-grow: 1;
    width: 90px;
    height: 90px;
}

#zero {
    flex-grow: 2;
}

.operator, .orange {
    background-color: orange;
}

.row5 {
    border-top: solid black 5px;
}

#display {
    text-align: end;
    padding-right: 20px;
    font-size: xx-large;
    max-height: 100px;
}